<% provide(:title, "Help") %>
<p><br></p>
<h1>Help</h1>
<p><br></p>
<ul class="list-group" style="list-style: decimal;">
  <li class="list-group-item"><a target="_blank" href="https://www.screencast.com/t/UrOgkyyOFi">
    1. How does it work (Sending message in this App after signup)</a></li>
  <li class="list-group-item"><a target="_blank" href="https://www.screencast.com/t/mgab8CTX">
    2. How does it work (Setting up Webhook in order to capture incoming messages)</a></li>
</ul>